<!DOCTYPE html>
<html>
  <head>
    <title>CLI Web</title>
    <link rel="stylesheet" type="text/css" href="main.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  </head>
  <body>
    <div id="text">
      <span>Welcome to ~~~.</span> <br/>
    </div>
    <span>~~~> </span><span id="inputText"></span><span id="cursor">_</span>
    <input id="input" value="" onblur="this.focus()" spellcheck="false" autofocus></input>
  </body>
  <script src="main.js"></script>
</html>
